In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [42]:
hr=pd.read_excel("hr.xlsx")
hr.head()
hr.drop('OverTime',axis=1,inplace=True)
hr.drop('Over18',axis=1,inplace=True)

In [43]:
hr["Attrition"]=hr["Attrition"].map({"Yes":1,"No":0})
hr["BusinessTravel"]=hr["BusinessTravel"].map({"Travel_Rarely":1,"Travel_Frequently":2,"Non-Travel":3})
hr["Department"]=hr["Department"].map({'Research & Development':1,'Human Resources':2,'Sales':3})
hr["EducationField"]=hr["EducationField"].map({'Life Sciences':1,'Medical':2,'Marketing':3,'Technical Degree':4,'Human Resources':5,'Other':6})
hr["Gender"]=hr["Gender"].map({"Female":1,"Male":2})
hr["JobRole"]=hr["JobRole"].map({"Sales Executive":1,"Research Scientist":2,"Laboratory Technician":3,"Manufacturing Director":4,
                  "Healthcare Representative":5,"Manager":6,"Sales Representative":7,"Research Director":8,"Human Resources":9})
hr["MaritalStatus"]=hr["MaritalStatus"].map({"Single":1,"Married":2,"Divorced":3})

In [44]:
hr.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,1,1102,3,1,2,1,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,0,2,279,1,8,1,1,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1,1,1373,1,2,2,6,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,0,2,1392,1,3,4,1,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,0,1,591,1,2,1,2,1,7,...,4,80,1,6,3,3,2,2,2,2

In [45]:
print hr.shape
print "--------------------------------------------------"
print hr.Attrition.value_counts()
print "--------------------------------------------------"
names=hr.columns.values
print names

(1470, 33)
--------------------------------------------------
0    1233
1     237
Name: Attrition, dtype: int64
--------------------------------------------------
[u'Age' u'Attrition' u'BusinessTravel' u'DailyRate' u'Department'
 u'DistanceFromHome' u'Education' u'EducationField' u'EmployeeCount'
 u'EmployeeNumber' u'EnvironmentSatisfaction' u'Gender' u'HourlyRate'
 u'JobInvolvement' u'JobLevel' u'JobRole' u'JobSatisfaction'
 u'MaritalStatus' u'MonthlyIncome' u'MonthlyRate' u'NumCompaniesWorked'
 u'PercentSalaryHike' u'PerformanceRating' u'RelationshipSatisfaction'
 u'StandardHours' u'StockOptionLevel' u'TotalWorkingYears'
 u'TrainingTimesLastYear' u'WorkLifeBalance' u'YearsAtCompany'
 u'YearsInCurrentRole' u'YearsSinceLastPromotion' u'YearsWithCurrManager']

In [46]:
hr1=hr.drop(hr.columns[[8,9,21]],axis=1,inplace=False)
print hr1.shape
print hr1.columns.values

hr1.head()

(1470, 30)
[u'Age' u'Attrition' u'BusinessTravel' u'DailyRate' u'Department'
 u'DistanceFromHome' u'Education' u'EducationField'
 u'EnvironmentSatisfaction' u'Gender' u'HourlyRate' u'JobInvolvement'
 u'JobLevel' u'JobRole' u'JobSatisfaction' u'MaritalStatus'
 u'MonthlyIncome' u'MonthlyRate' u'NumCompaniesWorked' u'PerformanceRating'
 u'RelationshipSatisfaction' u'StandardHours' u'StockOptionLevel'
 u'TotalWorkingYears' u'TrainingTimesLastYear' u'WorkLifeBalance'
 u'YearsAtCompany' u'YearsInCurrentRole' u'YearsSinceLastPromotion'
 u'YearsWithCurrManager']

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,1,1102,3,1,2,1,2,1,...,1,80,0,8,0,1,6,4,0,5
1,49,0,2,279,1,8,1,1,3,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1,1,1373,1,2,2,6,4,2,...,2,80,0,7,3,3,0,0,0,0
3,33,0,2,1392,1,3,4,1,4,1,...,3,80,0,8,3,3,8,7,3,0
4,27,0,1,591,1,2,1,2,1,2,...,4,80,1,6,3,3,2,2,2,2

In [47]:
X=hr.iloc[:,2:32].values
y=hr1.iloc[:,1].values
print type(X)
print type(y)
print X.shape
print y.shape

<type 'numpy.ndarray'>
<type 'numpy.ndarray'>
(1470L, 30L)
(1470L,)

In [48]:
from sklearn.cross_validation import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)
print X_train.shape
print X_test.shape
print y_train.shape
print y_test.shape

(1029L, 30L)
(441L, 30L)
(1029L,)
(441L,)

In [49]:
from sklearn.linear_model import LogisticRegression
logreg=LogisticRegression()

In [52]:
logreg.fit(X,y) 
print logreg.intercept_
print logreg.coef_

[ 0.00035984]
[[ -7.90771363e-03  -2.54078894e-04   1.98472082e-01   3.27227064e-02
   -2.30715226e-02   9.76313206e-02   3.59843686e-04  -1.34175840e-04
   -2.44746797e-01   3.71369517e-02  -5.22434866e-04  -2.28569355e-01
   -3.09548194e-02   2.93043372e-02  -2.28550381e-01  -2.39026070e-01
   -8.16050144e-05   6.87480006e-06   1.13816413e-01  -2.12344784e-02
    1.94774532e-02  -1.23306763e-01   2.87874949e-02  -2.29632888e-01
   -5.91523815e-02  -1.36757403e-01  -1.11588642e-01   3.26859423e-02
   -1.66754851e-01   1.32906567e-01]]

In [53]:
y_pred_class=logreg.predict(X_test)
print type(y_pred_class)

<type 'numpy.ndarray'>

In [57]:
print y_pred_class.shape
print y_test.shape
print y_pred_class

(441L,)
(441L,)
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

In [60]:
from sklearn import metrics
metrics.accuracy_score(y_test,y_pred_class)

0.8458049886621315

In [62]:
print metrics.classification_report(y_test,y_pred_class)

             precision    recall  f1-score   support

          0       0.85      0.99      0.92       371
          1       0.60      0.09      0.15        70

avg / total       0.81      0.85      0.79       441

In [63]:
print metrics.confusion_matrix(y_test,y_pred_class)

[[367   4]
 [ 64   6]]

In [65]:
#True Positive
T_positive=X_test[y_test==y_pred_class]
print T_positive
print T_positive.shape

[[   3  635    3 ...,   10    3    9]
 [   1  575    1 ...,    5    3    0]
 [   1 1492    1 ...,   11   10   11]
 ...,
 [   3 1094    3 ...,    1    0    0]
 [   1  319    1 ...,    5    4    0]
 [   1  213    1 ...,   13    9    3]]
(373L, 30L)

In [66]:
#True Negative
T_Negative=X_test[y_test!=y_pred_class]
print T_Negative
print T_Negative.shape

[[   2  662    3 ...,    4    2    3]
 [   2  459    1 ...,    1    0    1]
 [   1  790    3 ...,   15    9   10]
 ...,
 [   1 1259    1 ...,    1    0    0]
 [   1 1376    2 ...,   20    6    3]
 [   3  247    1 ...,    0    0    0]]
(68L, 30L)

In [67]:
#False Positive 
False_Positive=X_test[y_test<y_pred_class]
print False_Positive
print False_Positive.shape

[[    1  1108     1    15     4     6     1  1576     3     1    65     3
      1     2     1     2  2367 16530     8    12     3     4    80     1
     10     3     2     8     2     7]
 [    1   106     2     2     3     5     1   424     1     2    62     2
      2     9     1     2  6410 17822     3    12     3     4    80     0
      9     1     3     2     2     1]
 [    1  1179     3    16     4     3     1   732     1     2    84     3
      2     1     1     1  5405 11924     8    14     3     4    80     0
     10     1     3     2     2     2]
 [    3   457     1    26     2     6     1  1605     2     1    85     2
      1     2     3     2  2814 10293     1    14     3     2    80     0
      4     2     2     4     2     1]]
(4L, 30L)

In [69]:
#False Negative
FalseNegative=X_test[y_test>y_pred_class]
print FalseNegative.shape
FalseNegative

(64L, 30L)

array([[   2,  662,    3, ...,    4,    2,    3],
       [   2,  459,    1, ...,    1,    0,    1],
       [   1,  790,    3, ...,   15,    9,   10],
       ...,
       [   1, 1259,    1, ...,    1,    0,    0],
       [   1, 1376,    2, ...,   20,    6,    3],
       [   3,  247,    1, ...,    0,    0,    0]], dtype=int64)